header {
    color:#db974e;
    background-color:#000000;
    background-position:center;
    background-repeat:no-repeat;
    border-radius:0px;
    padding: 5px;
    }
h1 {
    margin:0;
    padding:5px 10px;
    font-size:42pt;
    line-height:36pt;
    font-weight:lighter;
  }
body{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12pt;
    background-color:#000000;
}
nav{
    color:#db974e;
    background-color:#000000;
    padding:5px 10px;;
    margin:0 0 10px 0;
    font-size:14pt;
    font-weight:bold;
    text-decoration:none;
    position:sticky;
    top:0;
    overflow:hidden;
    z-index: 1000;
}
nav a{
    color:#FFFFFF;
    text-decoration:none;
    float:left;
    display:block;
    padding:5px 10px;
    margin:0 5px;
    background-color:#000000;
    transition: background-color 0.3s, color 0.3s;
    text-align:center;
    /*display:inline-block;*/
    text-decoration:none;
    text-transform:uppercase;
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12pt;
    font-weight:lighter;
    line-height:36pt;
    font-size:14pt;
    font-weight:bold;
}
nav a:hover{
    background-color:#db974e;
    color:#2b2a28;
}
.art_title{
    background-color:#2b2a28;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    border-radius:0px;
    width:100%;
    max-width: 2500px;
    height: 100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    font-weight: bold;
    position:relative;
}
.art_title p{
    color:#FFFFFF;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 10);
}
@media screen and (max-width: 1200px) {
    .art_title p{
        font-size: 5vw;
    }
    
}
@media screen and (min-width: 1200px) {
    .art_title p{
        font-size: 3vw;
    }
}
#debut_ep_vhs {
    background-image: url('images/vhs_epcover_v1.jpg');
}
#sundown_single {
    background-image: url('images/headup-ep-cover-v3.jpg');
}
#band_members{
    background-color:#c6c7c9;
    color:#000000;
    margin:5px 0 0 0;
    height:50vh;
    display:flex;
    flex-direction:column;
    padding:5px 10px;
    font-size:12pt;
    font-weight:bold;
    position:relative;
    justify-items:center;
    text-align:right;
    text-justify: inter-word;
    text-decoration:none;
    position:relative;
}
#listen_on {
    position: relative;
    color: #FFFFFF;
    margin: auto;
    padding: 20px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30pt;
    font-weight: bold;
    overflow: hidden; /* Prevents overflow issues */
}

/* Blurred Background Layer */
#listen_on::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/solway_walking.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1; /* Push it behind the content */
}
#listen_on .stream-button{
    background-color: rgba(0,0,0,0.5); /* Semi-transparent background */
    background-position:center;
    color:#c6c7c9;
    width:20%;
    height:15%;
    border: 1px solid #c6c7c9;
    border-radius:5px;
    padding: 20px 20px;
    margin:5px 0 5px 0;
    font-size: 30pt;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
#listen_on .stream-button:hover{
    background-color:#db974e;
    color:#2b2a28;
}
#contact_page{
    color:#000000;
    background-color:#c6c7c9;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    height: 100%;
    display:flex;
    flex-direction:column;
    margin:5px 0 0 0;
    padding:20px;
    align-items: center;
    font-size:30pt;
    font-weight:bold;
    text-decoration:none;
    text-align:center;
    position:relative;
}
#contact_page a{
    color:#000000;
    text-decoration:none;
    margin:0 5px;
    padding:20px 10px;
    border-radius:5px;
    background-color:#FFFFFF;
    background-size: contain;
    width:40%;
    box-shadow: 10px 10px 40px -25px #000000;
    transition: background-color 0.3s, color 0.3s;
    text-align:center;
    display:inline-block;
    align-items:center;
    text-transform:uppercase;
    font-family:Arial, Helvetica, sans-serif;
    font-size:2vw;
    font-weight:lighter;
}
#contact_page a:hover{
    background-color:#000000;
    color:#FFFFFF;
}
.stream-button{
    background-color: rgba(0,0,0,0.5); /* Semi-transparent background */
    color:#FFFFFF;
    padding: 10px 20px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    font-size: 16pt;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.stream-button:hover{
    background-color:#db974e;
    color:#2b2a28;
}
.social-links{
    font-size: 30px;
    color: white;
    transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.social-links i:hover {
    color: #db974e; /* Change color on hover */
    transform: scale(1.2);
}
.countdown{
    margin:1px;
    font-weight:bold;
    text-decoration:none;
    position:relative;
    text-align:center;
    text-shadow:2px 2px 10px rgba(0, 0, 0, 10);
}
@media screen and (max-width: 1200px) {
    .countdown{
        font-size: 5vw;
    }
    
}
@media screen and (min-width: 1200px) {
    .countdown{
        font-size: 3vw;
    }
}
footer{
    color:#db974e;
    background-color:#000000;
    padding:5px 10px;
    margin:1px;
    font-size:14pt;
    font-weight:bold;
    text-decoration:none;
    position:relative;
    text-align:center;
}
footer a{
    color:#FFFFFF;
}